<div id="flash">
  <% flash.each do |key, value| %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success fade show" role="alert">
        <strong>Great! </strong><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-right:80">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <strong>Sorry! </strong><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-right:80">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
